body {
    margin: 0;
    overflow: hidden;
}

button {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: tomato;
    z-index: 9;
    border: 5px solid white;
}

.GooglyEyes {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.menuButton {
    position: absolute;
    right : 30px;
    top : 30px;
    background-color: blue;
    z-index: 999;
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: white;
    transform: translate(100%, 0);
    transition: transform 500ms;
}

.menu.open {
    transform: translate(0, 0);
}


video {
    position: absolute;
    width: 0;
    height: 0;
}

.fake {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 50vw;
    height: 50vh;
}